# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:

import numpy as np
import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:

from sklearn import datasets
diabetesDataset = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:

diabetesDataset.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [37]:
# Your code here:
print(diabetesDataset.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [8]:
diabetesDataset.target

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

In [ ]:
Ten baseline variables: age, sex, body mass index, average blood pressure, and six blood serum measurements

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [6]:
# Your code here:

diabetesDataset.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [13]:
# Your code here:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [14]:
# Your code here:

diabetes_x= diabetesDataset.data
diabetes_y= diabetesDataset.target
diabetes_model = linear_model.LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [15]:
# Your code here:

diabetes_model.fit(diabetes_x, diabetes_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
diabetes_model.intercept_

152.1334841628965

In [17]:
diabetes_model.coef_ #coeff of each column

array([ -10.01219782, -239.81908937,  519.83978679,  324.39042769,
       -792.18416163,  476.74583782,  101.04457032,  177.06417623,
        751.27932109,   67.62538639])

In [18]:
diabetes_model.score(diabetes_x, diabetes_y)

0.5177494254132934

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [38]:
# Your code here:

import statsmodels.api as sm
diabetes_x = sm.add_constant(diabetes_x)

diabetes_model = sm.OLS(diabetes_y, diabetes_x).fit()

diabetes_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Tue, 17 Sep 2019   Prob (F-statistic):           3.83e-62
Time:                        12:08:43   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.576     59.061      0.000     147.071     157.196
x1           -10.0122     59.749     -0.168      0.867    -127.448     107.424
x2          -239.8191     61.222     -3.917      0.000    -360.151    -119.488
x3           519.8398     66.534      7.813      0.000     389.069     650.610
x4           324.3904     65.422      4.958      0.000     195.805     452.976
x5          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
x6           476.7458    339.035      1.406      0.160    -189.621    1143.113
x7           101.0446    212.533      0.475      0.635    -316.685     518.774
x8           177.0642    161.476      1.097      0.273    -140.313     494.442
x9           751.2793    171.902      4.370      0.000     413.409    1089.150
x10           67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Perform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [19]:
# Your code here:

auto = pd.read_csv('/Users/sarahpierre-louis/Documents/GitHub/data-labs/module-3/lab-supervised-learning-sklearn/auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [20]:
# Your code here:

auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [22]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [24]:
# Your code here:

auto.model_year.min()

70

In [25]:
auto.model_year.max()

82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [55]:
# Your code here:

auto.isna().sum()
auto.dropna(axis = 0,inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [56]:
# Your code here:

auto.cylinders.value_counts()

#5 values of cylinders possible

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [103]:
# Import the necessary function

auto.drop('car_name', axis=1, inplace=True)
X = auto.drop('mpg', axis=1)
y= auto['mpg']

In [104]:
# Your code here:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=11)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [105]:
# Your code here:

from sklearn.linear_model import LinearRegression

linear = LinearRegression()

Next, fit the model in the cell below.

In [106]:
# Your code here:

linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [114]:
# Import the necessary function:
from sklearn.metrics import r2_score
y_pred = linear.predict(X_train)

In [115]:
# Your code here:
r2_score(y_train,y_pred)

0.8140549488167317

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [116]:
# Your code here:

y_test_pred = linear.predict(X_test)
y_test_pred

array([29.16429247, 29.96402389, 31.9785956 , 25.67546908, 16.45397214,
       16.73369399, 16.22789027, 20.77970968, 32.52840992, 29.44657104,
       27.34646179, 17.31123921, 13.06071751, 33.12612601, 19.15484258,
       33.07588058, 30.95103513, 22.01556308, 10.4858341 , 28.52688038,
       29.14404418, 15.75075205, 22.80273961, 21.78525096, 10.50763123,
       28.35721202, 31.55322596, 26.73882007, 20.54288242, 23.05716434,
       29.41128602, 20.52003312,  8.26325918, 30.14999164, 12.95815147,
       26.36242267, 13.89286359, 27.64303936, 27.85219091, 27.62728898,
       25.45494299, 22.06559477, 30.25787062, 31.24623325, 29.27283776,
       26.67084572, 12.02596352, 28.2371238 , 19.51629927, 30.57776159,
       27.94827662, 21.75860364, 31.17125467, 25.34163353, 31.92030485,
       22.37278031, 21.1907595 , 22.47021588, 23.57880895, 26.31865023,
       13.8609782 , 26.38302206, 34.39289259, 21.95215532,  6.65571442,
       20.25522845, 27.59039761, 15.12615649, 30.11771448, 29.84027733,
       29.35770775, 32.23220792, 26.59974788, 29.2479077 , 31.92418729,
       33.51435396,  8.94176589, 20.23631842, 25.31707214])

In [117]:
r2_score(y_test,y_test_pred)

0.7832782501614506

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [121]:
# Your code here:

from sklearn.model_selection import train_test_split
X_train09, X_test09, y_train09, y_test09 = train_test_split(auto.drop(columns='mpg', axis=1), auto.mpg, test_size=0.1, random_state=42)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [122]:
# Your code here:

auto_model09= LinearRegression().fit(X_train09,y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [124]:
# Your code here:

y_test_pred09= linear.predict(X_test09)

r2_score(y_test09,y_test_pred09)

0.8527589011888395

In [125]:
X_test09

     cylinders  displacement  horse_power  weight  acceleration  model_year
79           4          96.0         69.0    2189          18.0          72
276          4         121.0        115.0    2795          15.7          78
248          4          91.0         60.0    1800          16.4          78
56           4          91.0         70.0    1955          20.5          71
393          4         140.0         86.0    2790          15.6          82
205          4          97.0         75.0    2155          16.4          76
43           8         400.0        170.0    4746          12.0          71
235          4          97.0         75.0    2265          18.2          77
152          6         225.0         95.0    3264          16.0          75
117          4          68.0         49.0    1867          19.5          73
9            8         390.0        190.0    3850           8.5          70
210          6         156.0        108.0    2930          15.5          76
289          8         350.0        155.0    4360          14.9          79
167          4          97.0         75.0    2171          16.0          75
277          6         163.0        133.0    3410          15.8          78
367          4         112.0         88.0    2605          19.6          82
125          6         198.0         95.0    3102          16.5          74
356          4         108.0         75.0    2350          16.8          81
296          4         121.0         80.0    2670          15.0          79
335          4         122.0         88.0    2500          15.1          80
15           6         198.0         95.0    2833          15.5          70
394          4          97.0         52.0    2130          24.6          82
349          4          91.0         68.0    1985          16.0          81
0            8         307.0        130.0    3504          12.0          70
142          4          79.0         67.0    1963          15.5          74
114          4          98.0         90.0    2265          15.5          73
78           4         120.0         87.0    2979          19.5          72
34           6         225.0        105.0    3439          15.5          71
102          4          97.0         46.0    1950          21.0          73
77           4         121.0         76.0    2511          18.0          72
157          8         350.0        145.0    4440          14.0          75
257          6         232.0         90.0    3210          17.2          78
291          8         267.0        125.0    3605          15.0          79
358          4         120.0         74.0    2635          18.3          81
91           8         400.0        150.0    4464          12.0          73
385          4          91.0         67.0    1995          16.2          82
139          8         302.0        140.0    4638          16.0          74
58           4          97.5         80.0    2126          17.0          72
74           8         302.0        140.0    4294          16.0          72
25           8         360.0        215.0    4615          14.0          70

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [126]:
# Your code here:
r2_score(y_test09,y_test_pred09)

0.8527589011888395

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [129]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [131]:
# Your code here:
selector=RFE(auto_model09,3)
selector.fit(X_train09, y_train09)
selector.ranking_
#gaves us the columns we have to take, it is the ones with the 1

array([1, 3, 4, 2, 1, 1])

Fit the model and print the ranking

In [132]:
# Your code here:
X_train09.head()
model3= LinearRegression().fit(X_train09[['cylinders', 'acceleration','model_year']],y_train09)

In [140]:
y_pred_rfe = model3.predict(X_test09[['cylinders', 'acceleration','model_year']])

In [141]:
r2_score(y_pred_rfe,y_test09)

0.6863003237229583

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [202]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [203]:
# Your code here: