## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [110]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [43]:
# Your code here
sample_list_1 = random.sample(range(101),k=80)
print(sample_list_1)

[60, 91, 81, 51, 24, 17, 82, 61, 34, 28, 89, 75, 33, 35, 38, 5, 9, 12, 57, 52, 74, 18, 88, 11, 47, 22, 14, 93, 67, 4, 56, 6, 25, 80, 97, 1, 69, 62, 73, 0, 65, 13, 30, 98, 71, 7, 64, 37, 68, 29, 32, 92, 79, 76, 15, 8, 100, 39, 16, 27, 77, 54, 10, 90, 31, 3, 99, 2, 20, 70, 78, 19, 40, 59, 94, 44, 66, 46, 45, 41]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [42]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [72]:
# Your code here

#sample_list_2 = random.randint(0,101)
#print(sample_list_2)

sample_list_2 =[]
for i in range(80):
    sample_list_2.append(random.randint(0,101))
print(sample_list_2)

[25, 82, 39, 84, 23, 95, 88, 56, 17, 60, 95, 32, 83, 94, 69, 43, 12, 5, 28, 99, 50, 83, 27, 70, 67, 95, 23, 5, 75, 34, 24, 86, 82, 40, 57, 66, 0, 99, 8, 60, 47, 20, 84, 96, 40, 69, 7, 64, 68, 10, 88, 4, 2, 53, 69, 72, 96, 98, 65, 39, 47, 96, 35, 6, 59, 4, 56, 97, 75, 15, 54, 16, 61, 91, 100, 90, 68, 91, 80, 1]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [79]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

#lengh is different because set is taking only unique numbers.

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [96]:
# Your code here
set3=set1-set2
print(len(set3))

36

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [82]:
# Your code here
set4=set2-set1
print(set4)

{0, 2, 67, 4, 69, 6, 98, 10, 12, 47, 83, 84, 24, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [97]:
# Your code here
set5=set1 & set2
print(set5)

{1, 5, 7, 8, 15, 16, 17, 20, 23, 25, 27, 28, 32, 34, 35, 39, 40, 43, 50, 53, 54, 56, 57, 59, 60, 61, 64, 65, 66, 68, 70, 72, 75, 80, 82, 86, 88, 90, 91, 94, 96, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [105]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))


if (len(set1) + len(set2)) == (len(set3) + len(set4) + 2*len(set5)):
    print("Yeah!")
else:
    print("Oopsie")

#len(set1)=len(set3.union(len(set5)))

SyntaxError: can't assign to function call (<ipython-input-105-6f61b6e68584>, line 14)

#### Create an empty set called `set6`.

In [112]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [119]:
# Your code here
set6.update(set3 and set5)
print(set6)

{1, 3, 5, 7, 8, 9, 11, 13, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [120]:
# Your code here
if set1 == set6:
    print("OK")
else:
    print("KO")

OK

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [129]:
# Your code here
if set1.issubset(set2):
    print(True)
else:
    print(False)

if set1.issubset(set3):
    print(True)
else:
    print(False)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [136]:
# Your code here
union1 = set3.union(set4 & set5)
union2= set1.union(set2)

if union1 == union2:
    print(True)
else:
    print(False)
    
#It's false because one set5 is missing in union1

False

#### Using the `pop` method, remove the first element from `set1`.

In [149]:
# Your code here
print(set1)
set1.pop()
# in set of numbers pop() remove the 1st element

{3, 5, 7, 8, 9, 11, 13, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 99, 100}

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [153]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{5, 7, 8, 13, 15, 16, 17, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 85, 86, 87, 88, 90, 93, 94, 96, 97, 100}